.Header{
  background-color: #000;
  height: 100px;
  display: flex;
  justify-content: flex-start;
}
.Header img{
  width: 200px;
  margin: 25px 50px 20px 300px;
}
input{
  width: 300px;
  outline: 0;
  border: 0;
  margin-top: 35px;
  line-height: 40px;
  padding: 0 10px;
}
button{
  margin-right: 100px;
  width: 50px;
  height: 40px;
  outline: 0;
}
.me{
  display: flex;
  align-items: center;
}
.me img{
  width: 60px;
  height: 60px;
  margin: 10px;
}
.me button{
  margin-top: 10px;
  align-self: flex-end;
  margin-right: 20px;
}
.fabu{
  margin-bottom: 25px;
}
.fabu a{
  color: #000;
  text-decoration: none;
}
.nav{
  padding-left: 30px;
  display: flex;
}
li{
  list-style-type: none;
  padding-right: 20px;
  padding-top: 40px;
}
.nav a{
  text-decoration: none;
  color: #fff;

}
